<!--
Starts the map server.
-->

<launch>

  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="open_rviz" default="false"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="robot" default="tb3_1"/>

  <group ns="/$(arg robot)">

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot3_navigation)/maps/map.yaml">
      <remap from="/map" to="/$(arg robot)/map"/>
      <param name="~frame_id" value="$(arg robot)/map"/>
    </node>

    <!-- Localization (AMCL) -->
    <node name="inital_pose_publisher" pkg="tracking_certainty_grid" type="inital_pose_publisher"/>
    <remap from="map" to="/$(arg robot)/map"/>
    <remap from="/scan" to="/$(arg robot)/scan"/>

    <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    </include>
    <param name="amcl/base_frame_id" value="$(arg robot)/base_footprint"/>
    <param name="amcl/odom_frame_id" value="$(arg robot)/odom"/>
    <param name="amcl/global_frame_id" value="$(arg robot)/map"/>
    <param name="/use_sim_time" value="true"/>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
      <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
    </group>


  </group>

</launch>