<!--
Starts the map server.
-->

<launch>

  <!-- Arguments -->

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find benchmark)/worlds/maps/twoRoomsWorld.yaml">
    <!-- <remap from="/map" to="/$(arg robot)/map"/> -->
    <param name="~frame_id" value="map"/>
  </node>


</launch>