<!--
Movement setup for randomly walking robot.
-->

<launch>
    <arg name="name" default="tb3_2"/>
    <arg name="cmd_vel" default="/$(arg name)/cmd_vel"/>

  <group ns="/$(arg name)">
    <param name="cmd_vel_topic_name" value="$(arg cmd_vel)"/>

    <node name="global_map_broadcaster" pkg="multi_robot" type="global_map_broadcaster.py" args="">
        <param name="turtlebot" value="$(arg name)"/>
    </node>

    <node name="$(arg name)_drive" pkg="turtlebot3_gazebo" type="turtlebot3_drive" required="true" output="screen"/>

    <!--include file="$(find multi_robot)/launch/move_base.launch">
        <arg name="robot_name" value="tb3_2"/>
    </include-->
  </group>
</launch>
